@import "../../../_shared/variables.scss";
@import "../../../_shared/mixins.scss";

.generic-button {
  width: 100%;
  min-width: 160px;
  max-width: $max-width-mobile;
  text-decoration: none;
  padding: 18px 14px 18px;
  font-size: 14px;
  border: 0 transparent;
  border-radius: 500px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;

  &.green {
    color: $white;
    background-color: $green-primary;
  }

  &.black {
    background-color: $dark;
    color: $white;
  }

  &.white {
    background-color: white;
    box-shadow: inset 0 0 0 2px #616467;
    color: $dark-gray;
    font-weight: bold;
  }
}
